<%= stylesheet_link_tag 'medium-editor', media: 'all' %>
<%= stylesheet_link_tag 'medium-editor/dist/css/themes/flat', media: 'all' %>

<div id="editable">
	<%=raw @about_page.description if @about_page%>
</div>

<%=form_for @about_page,url: admin_about_description_path, method: :post do |f|%>
	<%=f.hidden_field :description%>
	<%=f.submit%>
<%end%>



