<!DOCTYPE html>
<html>
<head>
  <title>Amicables</title>
  <%= stylesheet_link_tag 'admin', params[:controller], media: 'all' %>
  <%= javascript_include_tag 'admin',params[:controller] %>
  <%= favicon_link_tag 'favicon.ico'%>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div class="adminSlider">
		<%=link_to 'about','/admin/bands',class: "adminClmn"%>
		<%=link_to 'bands','/admin/releases',class: "adminClmn"%>
		<%=link_to 'releases','/admin/home',class: "adminClmn"%>
	</div>
	<%= yield%>
	<script type="text/javascript">
		letterByLetter();
	</script>
</body>
</html>
